<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% seo %}
      <link rel="stylesheet" href="https://github.com/DISC-isis2304-ST/Introduccion-a-SQL/blob/main/_layouts/_footer.scss">
</head>

<body>
      <div class="container-lg px-3 my-5 markdown-body">
            <a href="{{ '/' | absolute_url }}">
                  <img
                        src="https://raw.githubusercontent.com/DISC-isis2304-ST/Introduccion-a-SQL/main/_layouts/baner.png" />
            </a>
            {{ content }}
      </div>
      <footer id="footer">
            <div class="custom">
                  <div class="footer" style="text-align: center;">
                        <div id="websis-icon" class="social-icons">
                              <ul class="websis">
                                    <ul class="GENERAL">
                                          <li class="social-Mujeres"><a
                                                      href="https://mujeresencomputacion.uniandes.edu.co/"
                                                      target="_blank" rel="noopener noreferrer">DIOA</a></li>
                                          <li class="social-Labs"><a href="https://labsis.uniandes.edu.co/"
                                                      target="_blank" rel="noopener noreferrer">DIOA</a></li>
                                          <li class="social-Publica"><a
                                                      href="https://sistemas.uniandes.edu.co/investigacion/publicaciones-proyectos/publicaciones"
                                                      target="_blank" rel="noopener noreferrer">DIOA</a></li>
                                          <li class="social-Cupi2"><a href="http://cupi2.uniandes.edu.co/"
                                                      target="_blank" rel="noopener noreferrer">DIOA</a></li>
                                          <li class="social-Econtinuada"><a
                                                      href="http://educacioncontinuada.uniandes.edu.co/index.php/es/"
                                                      target="_blank" rel="noopener noreferrer">DIOA</a></li>
                                          <li class="social-Conflicto"><a href="http://sch01.uniandes.edu.co/"
                                                      target="_blank" rel="noopener noreferrer">DIOA</a></li>
                                          <li class="social-Paradigma"><a href="http://paradigma.uniandes.edu.co/"
                                                      target="_blank" rel="noopener noreferrer">DIOA</a></li>
                                          <li class="social-Forosisis"><a
                                                      href="https://sistemas.uniandes.edu.co/foros-isis" target="_blank"
                                                      rel="noopener noreferrer">DIOA</a></li>
                                          <li class="social-sisinfo"><a href="http://sisinfo.uniandes.edu.co/"
                                                      target="_blank" rel="noopener noreferrer">DIOA</a></li>
                                    </ul>
                              </ul>
                        </div>
                        <br>
                        <div style="text-align: center;">
                              <a href="https://apoyofinanciero.uniandes.edu.co/">Apoyo Financiero</a> |
                              <a href="http://registro.uniandes.edu.co/">Admisiones y Registro</a> |
                              <a href="http://biblioteca.uniandes.edu.co/">Biblioteca</a> |
                              <a href="https://sicuaplus.uniandes.edu.co">Sicua Plus</a> |
                              <a href="http://eventos.uniandes.edu.co/">Agenda y Eventos</a> |
                              <!--a href="https://decanaturadeestudiantes.uniandes.edu.co/">Decanatura de Estudiantes.</a-->
                              <br> Universidad de los Andes | Vigilada Mineducación
                              <br> Reconocimiento como Universidad: Decreto 1297 del 30 de mayo de 1964.
                              <br> Reconocimiento personería jurídica: Resolución 28 del 23 de febrero de 1949
                              Minjusticia
                              <br> Edificio Mario Laserna Cra 1Este No 19A - 40 Bogotá (Colombia) | Tel: [571] 3394949
                              Ext: 2860, 2861, 2862 | Fax: [571] 3324325
                              <br> © 2020 - <a href="https://sistemas.uniandes.edu.co/">Departamento de Ingeniería de
                                    Sistemas y Computación</a>
                        </div>
                  </div>
            </div>
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
            integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
      <script>anchors.add();</script>
      {% if site.google_analytics %}
      <script>
            (function (i, s, o, g, r, a, m) {
                  i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                  }, i[r].l = 1 * new Date(); a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', '{{ site.google_analytics }}', 'auto');
            ga('send', 'pageview');
      </script>
      {% endif %}
</body>
</html>